.DS_Store
Engine/.DS_Store
Engine/mygameengine.so
.vscode/
finalproject-vancouver-tinyengine.code-workspace
.clang-format
Engine/szeka_linuxbuild.py
Engine/macbuild.py
Engine/__pycache__
*.so
*/*.so
*.pyc
Editor/__pycache__
Editor/.DS_Store
Editor/mods/__pycache__
*/*.pyc
Engine/scripts/__pycache__/test_player.cpython-38.pyc
core.*
scripts/__pycache__